/*Variables de colores*/
*{
	--boton-cafe: #87683D;
	--sombra-boton-alerta: #C73D44;
	--default-background: #DBDBDB;
	--bordes-botones-y-flechas: #BF0811;
	--texto-barra-superior: #C02D34;
	--barra-superior: #343434;
	--fondo-tarjeta-1: #D94148;
	--fondo-tarjeta-2: #8165A2;
	--fondo-tarjeta-3: #E5B463;
	--fondo-tarjeta-4: #75AD74;
	--fondo-tarjeta-5: #009493;
	--blanco: #FFFFFF;
	background-color: var(--default-background) !important;
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left{
	background-color: rgba(0,0,0,0.4) !important;
	transition: ease-in-out 0.3s !important;
}


.sm{
	width: 100%;
	left: 1px;
	right: 0px;
	margin-top: 2%;
	color: white!important;
}

#menu-panel{
	background-color: var(--default-background);
}

.sm a{
	color: white;
	text-decoration: none !important;
	transition: ease 0.5;
	width: 100%!important;
	font-size: 33px;
	padding: 10px;

}

.sm{
	width: 100%;
	margin-left: 0%;
	left: 0;
	position: relative;
}

.sm:hover{
	background-color: lightgray;
}



/*Fuente que David puso - SEAS MAMÓN pinsHI VATO*/
@font-face {
    font-family: 'Myriad'; /*a name to be used later*/
    src: url('../fuentes/myriad-pro/MyriadProBoldSemiExtended.ttf'); /*URL to font*/
}


.bienvenida_1{
	background-color: var(--fondo-tarjeta-1) !important;
}

.bienvenida_2{
	background-color: var(--fondo-tarjeta-2) !important;
}
.bienvenida_3{
	background-color: var(--fondo-tarjeta-3) !important;
}
.bienvenida_4{
	background-color: var(--fondo-tarjeta-4) !important;
}
.bienvenida_5{
	background-color: var(--fondo-tarjeta-5) !important;
}

.cuadro-tarjeta-1{
	width: 85%;
	height: auto;
	background-color: var(--blanco) !important;
	text-align: center;
	margin: 0 auto;
	border-radius: 20px;
	padding: 5px;
	color: var(--fondo-tarjeta-1);
	font-size: 45px;
	font-family: 'Myriad';
	font-weight: bold;
}

.circulo-logo{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border: solid 3px var(--sombra-boton-alerta);
	background-color: var(--blanco) !important;
	color: var(--fondo-tarjeta-1);
	font-size: 45px;
	font-family: 'Myriad';
	text-align: center;
	border-radius: 50em;
	padding: 1em;
	left: auto;
	right: auto;
}

li{
	list-style: none !important;
	text-decoration: none !important;
	color: var(--fondo-tarjeta-1) !important;
	font-size: 45px !important;
	font-family: 'Myriad' !important;
	text-align: center !important;
	-ms-transform: translate(0px, 0.3em) !important; /* IE 9 */
    -webkit-transform: translate(0px,  0.3em) !important; /* Safari */
    transform: translate(0px, 0.3em) !important;
}

li > a{
	text-decoration: none  !important;
}

a:link{
	color: var(--fondo-tarjeta-1);
	text-decoration: none  !important;
}

h3{
	background-color: transparent !important;
}

.texto-tarjeta-1{
	text-align: center;
	font-family: 'Myriad';
	font-size: 40px;
	font-weight: bold;
	color: var(--blanco);
}

.circulo-next{
	width: 80px !important;
	height: 80px !important;
	margin: 0 auto !important;
	border: solid 3px var(--sombra-boton-alerta) !important;
	background-color: var(--blanco) !important;
	color: var(--fondo-tarjeta-1) !important;
	font-size: 30px  !important;
	font-family: 'Myriad' !important;
	text-align: center !important;
	border-radius: 50em !important;
	padding: 1em !important;
}

.puntos-guias{
	margin: 0 auto;
	width: 60%;
	display: flex;
	align-content: center;
	align-items: center;
	text-align: center;
	background-color: transparent !important;
}

.dot{
	margin: 0;
	font-weight: bold;
	font-family: 'Myriad';
	font-size: 60px;
	color: var(--blanco);
	display: inline;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.actual-dot{
	margin: 0;
	font-weight: bold;
	font-family: 'Myriad';
	font-size: 240px;
	color: var(--blanco);
	display: inline;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	padding-bottom: 0;
	-ms-transform: translate(0px, -0.15em); /* IE 9 */
    -webkit-transform: translate(0px, -0.15em); /* Safari */
    transform: translate(0px,-0.12em);
}


.cuadro-tarjeta-2{
	width: 85%;
	height: auto;
	background-color: var(--blanco) !important;
	text-align: center;
	margin: 0 auto;
	border-radius: 20px;
	padding: 5px;
	color: var(--fondo-tarjeta-2);
	font-size: 45px;
	font-family: 'Myriad';
	font-weight: lighter;
}

.cuadro-tarjeta-3{
	width: 85%;
	height: auto;
	background-color: var(--blanco) !important;
	text-align: center;
	margin: 0 auto;
	border-radius: 20px;
	padding: 5px;
	color: var(--fondo-tarjeta-3);
	font-size: 45px;
	font-family: 'Myriad';
	font-weight: lighter;
}

.cuadro-tarjeta-4{
	width: 85%;
	height: auto;
	background-color: var(--blanco) !important;
	text-align: center;
	margin: 0 auto;
	border-radius: 20px;
	padding: 5px;
	color: var(--fondo-tarjeta-4);
	font-size: 45px;
	font-family: 'Myriad';
	font-weight: lighter;
}
.cuadro-tarjeta-5{
	width: 85%;
	height: auto;
	background-color: var(--blanco) !important;
	text-align: center;
	margin: 0 auto;
	border-radius: 20px;
	padding: 5px;
	color: var(--fondo-tarjeta-5);
	font-size: 45px;
	font-family: 'Myriad';
	font-weight: lighter;
}

.red-button{
	display: block;
	margin: 0 auto !important;
	text-align: center !important;
	position: relative;
	font-family: 'Myriad' !important;
	font-size: 20px !important;
	width: 60% !important;
	background-color: var(--fondo-tarjeta-1) !important;
	color: var(--blanco) !important;
	opacity: 1 !important;
	border-style: none !important;
	padding: 1em !important;
}

.little-button{
	position: absolute !important;
	left: 2 !important;
	top: 1em !important;
	bottom: 1em !important;
	background-color: var(--fondo-tarjeta-1) !important;
	border-style: none !important;
	border-radius: 3px !important;
	color: var(--blanco) !important;
	font-family: 'Myriad' !important;
}

.screen{
	background-color: var(--default-background) !important;
}

.header{
	font-family: 'Myriad' !important;
	font-size: 25px !important;
	text-shadow: none !important;
	background-color: var(--barra-superior) !important;
	color: var(--texto-barra-superior) !important;
	text-align: center !important;
	padding: 0.0005em !important;
	margin-top: -1px !important;
}

.red-text{
	background-color: transparent !important ;
}

.descripcion{
	font-family: 'Myriad' !important;
	font-size: 33px !important;
	text-shadow: none !important;
	text-align: center !important;
	padding: 0.0005em !important;
}

.dato-Obligatorio{
	color: var(--fondo-tarjeta-1);
	font-size: 20px;
	font-weight: bold;
}

.textFieldRegistro{
	width: 10%;
}

.boton-Logo-Rojo{
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

.subtitulo-contacto{
	color: var(--texto-barra-superior);
	font-family: 'Myriad' !important;
	font-size: 28px !important;
	text-shadow: none !important;
	text-align: left !important;
	margin-left: 15px !important;
}

.subtitulo-contacto-2{
	font-family: 'Myriad' !important;
	font-size: 20px !important;
	text-shadow: none !important;
	text-align: left !important;
	margin-left:  20px !important;
}

.subtitulo-contacto-3{
	text-align: left;
	margin-left: 20px !important;
}

.linea-separacion{
	height: 2.8px;
	color: #123455;
	background-color: #123455 !important;
	margin-left: 2%;
	margin-right: 2%;
	border: none;
}

.titulo-operaciones-contacto{
	font-family: 'Myriad' !important;
	font-size: 26px !important;
	text-shadow: none !important;
	text-align: left !important;
	margin-left:  20px !important;
}

.text-field-contacto{
	background-color: white !important;

}

.textAreaContacto{
	width: 100% !important;
	height: 40px !important;
	background-color: white !important;
	resize: none;
}

.main-buttons{
	background-color: transparent !important;
}

p,li,a{
	background-color: transparent !important;
}

.header-lista{
	font-family: 'Myriad' !important;
	font-size: 35px !important;
	color: var(--fondo-tarjeta-1) !important;
	border-bottom: solid 5px black !important;
}

.lista-historial{
	width: 80%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

.historial-item{
	margin: 0 auto !important;
	width: 60% !important;
	color: black !important;
	font-size: 15px !important;
	font-family: 'Myriad' !important;
	text-align: center !important;
	padding: 2em !important;
	left: 0 !important;
	right: 0 !important;
}

tr{
	border-bottom: solid 1px black;
}

ol{
	list-style: decimal;
}
.collapsible {
	    background-color: #777;
	    color: white;
	    cursor: pointer;
	    padding: 18px;
	    width: 100%;
	    border: none;
	    text-align: left;
	    outline: none;
	    font-size: 15px;
	}

	.active, .collapsible:hover {
	    background-color: #555;
	}

	.content {
	    padding: 0 18px;
	    max-height: 0;
	    overflow: hidden;
	    transition: max-height 0.2s ease-out;
	    background-color: #f1f1f1;
	}
