/*Variables de colores*/
*{
	--boton-cafe: #87683D;
	--sombra-boton-alerta: #C73D44;
	--default-background: #DBDBDB;
	--bordes-botones-y-flechas: #BF0811;
	--texto-barra-superior: #C02D34;
	--barra-superior: #343434;
	--fondo-tarjeta-1: #D94148;
	--fondo-tarjeta-2: #8165A2;
	--fondo-tarjeta-3: #E5B463;
	--fondo-tarjeta-4: #75AD74;
	--fondo-tarjeta-5: #009493;
	--blanco: #FFFFFF;
}

/*Fuente que David puso*/
@font-face {
    font-family: 'Myriad'; /*a name to be used later*/
    src: url('../fuentes/myriad-pro/MyriadProBoldSemiExtended.ttf'); /*URL to font*/
}


.bienvenida_1{
	background-color: var(--fondo-tarjeta-1);
}

.bienvenida_2{
	background-color: var(--fondo-tarjeta-2);
}
.bienvenida_3{
	background-color: var(--fondo-tarjeta-3);
}
.bienvenida_4{
	background-color: var(--fondo-tarjeta-4);
}
.bienvenida_5{
	background-color: var(--fondo-tarjeta-5);
}

.cuadro-tarjeta-1{
	width: 85%;
	height: auto;
	background-color: var(--blanco);
	text-align: center;
	margin: 0 auto;
	border-radius: 20px;
	padding: 5px;
	color: var(--fondo-tarjeta-1);
	font-size: 45px;
	font-family: 'Myriad';
	font-weight: bold;
}

.circulo-logo{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border: solid 3px var(--sombra-boton-alerta);
	background-color: var(--blanco);
	color: var(--fondo-tarjeta-1);
	font-size: 45px;
	font-family: 'Myriad';
	text-align: center;
	border-radius: 50em;
	padding: 1em;
	left: auto;
	right: auto;
}

li,a{
	list-style: none;
	text-decoration: none;
	color: var(--fondo-tarjeta-1);
	font-size: 45px;
	font-family: 'Myriad';
	text-align: center;
	-ms-transform: translate(0px, 0.2em); /* IE 9 */
    -webkit-transform: translate(0px,  0.2em); /* Safari */
    transform: translate(0px, 0.2em);
}

a:link{
	color: var(--fondo-tarjeta-1);
}

.texto-tarjeta-1{
	text-align: center;
	font-family: 'Myriad';
	font-size: 40px;
	font-weight: bold;
	color: var(--blanco);
}

.circulo-next{
	width: 80px !important;
	height: 80px !important;
	margin: 0 auto !important;
	border: solid 3px var(--sombra-boton-alerta) !important;
	background-color: var(--blanco) !important;
	color: var(--fondo-tarjeta-1) !important;
	font-size: 30px  !important;
	font-family: 'Myriad' !important;
	text-align: center !important;
	border-radius: 50em !important;
	padding: 1em !important;
}

.puntos-guias{
	margin: 0 auto;
	width: 60%;
	display: flex;
	align-content: center;
	align-items: center;
	text-align: center;
}

.dot{
	font-weight: bold;
	font-family: 'Myriad';
	font-size: 60px;
	color: var(--blanco);
	display: inline;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.actual-dot{
	font-weight: bold;
	font-family: 'Myriad';
	font-size: 240px;
	color: var(--blanco);
	display: inline;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	padding-bottom: 0;
	-ms-transform: translate(0px, -0.12em); /* IE 9 */
    -webkit-transform: translate(0px, -0.12em); /* Safari */
    transform: translate(0px,-0.12em);
}


.cuadro-tarjeta-2{
	width: 85%;
	height: auto;
	background-color: var(--blanco);
	text-align: center;
	margin: 0 auto;
	border-radius: 20px;
	padding: 5px;
	color: var(--fondo-tarjeta-2);
	font-size: 45px;
	font-family: 'Myriad';
	font-weight: lighter;
}

.cuadro-tarjeta-3{
	width: 85%;
	height: auto;
	background-color: var(--blanco);
	text-align: center;
	margin: 0 auto;
	border-radius: 20px;
	padding: 5px;
	color: var(--fondo-tarjeta-3);
	font-size: 45px;
	font-family: 'Myriad';
	font-weight: lighter;
}

.cuadro-tarjeta-4{
	width: 85%;
	height: auto;
	background-color: var(--blanco);
	text-align: center;
	margin: 0 auto;
	border-radius: 20px;
	padding: 5px;
	color: var(--fondo-tarjeta-4);
	font-size: 45px;
	font-family: 'Myriad';
	font-weight: lighter;
}
.cuadro-tarjeta-5{
	width: 85%;
	height: auto;
	background-color: var(--blanco);
	text-align: center;
	margin: 0 auto;
	border-radius: 20px;
	padding: 5px;
	color: var(--fondo-tarjeta-5);
	font-size: 45px;
	font-family: 'Myriad';
	font-weight: lighter;
}

.red-button{
	/*
	display: block;
	position: relative;
	background-color: var(--fondo-tarjeta-1) !important;
	width: 60% !important;
	padding: 1em !important;
	font-family: 'Myriad' !important;
	font-size: 25px !important;
	margin: 0 auto !important;
	border-style: none !important;
	color: var(--blanco) !important;
	text-align: center !important;
	top: 0 !important;
	*/
	display: block;
	margin: 0 auto !important;
	text-align: center !important;
	position: relative;
	font-family: 'Myriad' !important;
	font-size: 20px !important;
	width: 60% !important;
	background-color: var(--fondo-tarjeta-1) !important;
	color: var(--blanco) !important;
	opacity: 1 !important;
	border-style: none !important;
	padding: 1em !important;
}

.screen{
	background-color: var(--default-background);
}

.header{
	font-family: 'Myriad' !important;
	font-size: 35px !important;
	text-shadow: none !important;
	background-color: var(--barra-superior) !important;
	color: var(--texto-barra-superior) !important;
	text-align: center !important;
	padding: 0.0005em !important;
}

.descripcion{
	font-family: 'Myriad' !important;
	font-size: 33px !important;
	text-shadow: none !important;
	text-align: center !important;
	padding: 0.0005em !important;
}

.dato-Obligatorio{
	color: var(--fondo-tarjeta-1);
	font-size: 20px;
	font-weight: bold;
}

.textFieldRegistro{
	width: 10%;
}